{% extends "blog/base.html" %} {% load blog_tags %}
<!---->
{% block title %}My Blog{% endblock%}

<!-- avoid auto restructure-->
{% block content %}
<h1>My Blog</h1>
{% include "blog/post/search.html" %}
<!---->
{% if tag %}
<h2>Posts with tag: {{ tag.name }}</h2>
{% endif %} {% for post in posts %}
<h2>
  <a href="{{ post.get_absolute_url }}">
    {{ post.title}}({{ post.get_absolute_url|humanize_url}})
  </a>
  <br />
  <!--
  <a
    href="{% url 'blog:post_detail' post.publish.year post.publish.month post.publish.day post.slug %}"
  >
    {{ post.title}}
  </a>
  -->
</h2>
<p class="date">Published {{ post.publish|date_since}} by {{ post.author}}</p>
{% include 'blog/post/tags_list.html' with post=post %}
<!--<p>Tags: {{ post.tags.all|join:', '}}</p> -->
{{ post.body|first_media}}
<!---->
{{ post.body|markdown|truncatewords_html:30|linebreaks}} {% endfor %}
<!-- ListView pass pagination pages as 'page_obj' but for a 
FBV, we will use the page object that was created-->
{% include "pagination.html" with page=posts %} {% endblock %}
